
window.primary textview {
  background-color: transparent;
}


/*
 * Preferences window
 */

window.preferences preferencesgroup flowboxchild GtkSourceStyleSchemePreview {
  margin: 0;
}

window.preferences preferencesgroup flowboxchild GtkSourceStyleSchemePreview:not(.selected) {
  box-shadow: 0 0 0 1px alpha(black, 0.03),
              0 1px 3px 1px alpha(black, .07),
              0 2px 6px 2px alpha(black, .03);
}

window.preferences preferencesgroup widget.color-scheme button {
  padding: 0;
  background: none;
  box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
}

window.preferences preferencesgroup widget.color-scheme button picture {
  border-radius: 6px;
}

window.preferences preferencesgroup widget.color-scheme button:checked {
  outline: solid 2px @accent_color;
}


/*
 * Theme selector
 */

themeselector {
  margin: 9px;
}
themeselector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}
themeselector checkbutton.follow:checked,
themeselector checkbutton.light:checked,
themeselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}
themeselector checkbutton.follow {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}
themeselector checkbutton.light {
  background-color: #fff;
}
themeselector checkbutton.dark {
  background-color: #202020;
}
themeselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}
checkbutton.theme-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/*
 * Sidebar (TODO: stub for now)
 */

toolbarview.slides-sidebar listview {
  border-spacing: 6px;
  padding: 18px 0;
  background: none;
}

toolbarview.slides-sidebar listview row {
  background: none;
}

toolbarview.slides-sidebar listview row box {
  border-spacing: 6px;
  padding: 0 0.9rem 0 0;
}

toolbarview.slides-sidebar listview row rendition {
  border-radius: 6px;
  outline-offset: -2px;
  transition: outline 250ms;
}

rendition {
  /* TODO: remove */
  background: linear-gradient(120deg, @red_2, @purple_3 80%);
  color: white;
}

toolbarview.slides-sidebar listview row:hover rendition {
  outline: solid 2px @accent_color;
  transition: outline 250ms;
}

toolbarview.slides-sidebar listview row:selected rendition {
  outline: solid 2px @accent_color;
}

toolbarview.slides-sidebar listview row:selected box > label {
  font-weight: bold;
}

/*
 * Gutter renderer
 */

window.primary textview border,
window.primary textview border gutter {
  background-color: transparent;
}

window.primary textview border gutter gutterrenderer {
  font-size: 0.75rem;
  font-weight: bold;
  font-feature-settings: "tnum";
}
